.background{
    -fx-background-image: url('/images/bg/background.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}

.map{
    -fx-background-image: url('/images/bg/map.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-background-size: cover;
}

.boutons{
    -fx-spacing :25;
}
.blocBlanc{
    -fx-background-color: rgba(255,255,255,0.70);
}
